@using HairCut.ViewModels;
@model IEnumerable<ClientVm>
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact Mobile</th>
            <th>Contact Mail</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.Name</td>
            <td>@client.ContactMobile</td>
            <td>@client.ContactMail</td>
            @*<td>
            <a asp-page="Edit" asp-route-id="@client.Name">edit</a>
            <button type="submit" asp-page-handler="delete"
                    asp-route-id="@client.Name">
                delete
            </button>
            </td>*@
            <td>@Html.ActionLink("Edit", "EditClient", new { name = client.Name })</td>
            <td>@Html.ActionLink("Delete", "DeleteAppointment", new { name = client.Name })</td>
        </tr>
    }
    </tbody>
</table>

<a asp-page="Create">Create</a>


