@using HairCut.ViewModels;
@model IEnumerable<AppointmentVm>
@{
    ViewData["Title"] = "Index";
}
                                                                            @*TESTINGG*@
<link href="~/css/site.css" rel="stylesheet" />
<h2>Appointment</h2>
<table class="table table-bordered table-striped">
    
    <tr>
        <th>Client</th>
        <th>Date Of Creation</th>
        <th>Start Time</th>
        <th>Barber</th>
    </tr>
    @foreach (var appointment in Model)
    {        
        <tr>
            <td>@appointment.Client.Name</td>
            <td>@appointment.DateOfCreation</td>
            <td>@appointment.StartTime</td>
            <td>@appointment.Employee.Name</td>
            <td>@Html.ActionLink("Edit", "Edit Appointment", new { id = appointment.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete Appointment", new { id = appointment.Id })</td>
        </tr>
    }
</table>
<a href="@Url.Action("AddAppointment","Appointment")">Create</a>


